#imagen-opcion{
    margin-top: 1%;
    margin-left: 88%;
    position: absolute;
    width: 10%;
}

#imagen-gestor-grupos{
    margin-top: 1%;
    margin-left: 84%;
    position: absolute;
    width: 16%;

}

#lupa{
    margin-left: 15%;
}