body{
    background-image: url("../img/Patron-Fondo-Hotel.png");
    padding-bottom: 2%;
}

#cabecera {
    background-color: #0B2023;
}

#nombre_sistema{
    display: inline;
    padding-left: 30px;
    color: white;
    font-size: 250%;
    font-family:'Petit Formal Script', cursive;
}

#floatingTextarea{
    resize: none;
}
