.col label{
    text-align: left;
}

label{
    font-size: large;
    font-family: 'Poppins', sans-serif;
}


p{
    text-align: left;
    font-family: 'Poppins', sans-serif;
}


#btn_alumno{
    font-family: 'Inter', sans-serif;
    margin: 7%;
}

#nino{
    height: 190px;
    width: 190px;
}


.btn-inferior{
    display: flex;
    justify-content: center;
}

.btn-inferior .btn-real{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border: solid #000 1px;
    margin-bottom:  5%;
    padding: 1%;
    border-radius: 28%;
}

.btn-inferior .btn-real:hover{
    transition: 0.15s linear;
    transform: scale(1.02);
}

.btn-inferior img{
    width: 50px;
    height: 50px;
}

.btn-inferior img:hover{
    transition: 0.15s linear;
    transform: scale(1.1);
}